/* General styles for the entire app */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f4e9;
  color: #4d3a32;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #b3541e;
  margin-bottom: 30px;
}

/* Tabs styling */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #eab676;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs button:hover {
  background-color: #b3541e;
}

.tabs .active {
  background-color: #9b2915;
}

/* Add Task Input */
.add-task {
  margin-bottom: 20px;
}

.add-task input {
  padding: 10px;
  border: 2px solid #b3541e;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
  font-size: 16px;
  background-color: #fffbe7;
}

.add-task button {
  background-color: #9b2915;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task button:hover {
  background-color: #b3541e;
}

/* Todo List */
.todo-list .task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff5e1;
  border: 2px solid #eab676;
  border-radius: 10px;
  width: 300px;
  margin: 10px auto;
}

.todo-list .task input {
  margin-right: 10px;
  cursor: pointer;
}

.todo-list .task span {
  font-size: 18px;
}

.todo-list .task span.completed {
  text-decoration: line-through;
  color: #9b2915;
}

/* Responsive design */
@media (max-width: 600px) {
  .tabs button {
    padding: 8px 15px;
  }

  .add-task input {
    width: 200px;
  }

  .todo-list .task {
    width: 90%;
  }
}

/* Task delete button */
.delete-btn {
  margin-left: 10px;
  background-color: #b3541e;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #9b2915;
}

/* Delete all completed tasks button */
.delete-all-btn {
  margin-top: 20px;
  background-color: #9b2915;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-all-btn:hover {
  background-color: #b3541e;
}

/* Add Task Input when disabled */
.add-task input:disabled {
  background-color: #f0e6dc; /* Light beige to show it's disabled */
  border: 1px solid #ccc;
  cursor: not-allowed;
}

.add-task button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
